# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ Listing some of the popular programming languages used in Data Science
+ Showing how to create a table in markdown
+ How to perform basic arithmetic using a jupyter notebook
+ Show some of the popular libraries used in data science

## Author
Juan Cardenas

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Python
2. R
3. Julia
4. Scala

|Data Science Tools|
|--------------------|
|Jupyter Lab|
|Spyder|
|VSCode|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/6

33.333333333333336